<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Set up</title>
    <link rel="stylesheet" href="../css/accountsetup.css">
</head>
<body>
    <section>
        <div class="hero">
        </div>
        <div class="Main">
            <div class="Acct">
                <h2>Complete Account Setup</h2>
                <p>Just a few more steps</p>
                <form>
                    <div class="Inputbox">
                    <span>First name</span>
                    <input type="text" name="">
                    </div>
                    <div class="Inputbox">
                    <span>Last name</span>
                    <input type="text" name="">
                    </div>
                    <div class="Inputbox">
                    <span>Phone number</span>
                    <input type="number" name="">
                    </div>
                    <div class="Inputbox">
                    <input type="Submit" value="Proceed" name="">
                    </div>
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>