<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/landingpage.css">
    <title>D'Planner | Home</title>
</head>
<body>
    <div class="main">
        <header class="deskheader mobileheader">
            <img src="../image/dplana_logo.svg" alt="logo">
                <!-- <h3>D'PLANNER</h3> -->
            <input type="checkbox" id="menutoggle">
            <label for="menutoggle" class="menubuttoncontainer">
                <div class="menubutton"></div>
            </label>
            <nav class="nav">
                <ul class="menu">
                    <li class="navitem"><a href="#" class="navlink">How it works</a></li>
                    <li class="navitem"><a href="#" class="navlink">Take a tour</a></li>
                
                <div class="mobile signinsignup">
                    <a href="" class="Sign in"></a>
                    <a href="" class="Sign Up"></a>

                </div>
                </ul>
            </nav>
            <div class="desktop signinsignup">
                <a href="" class="Sign in"></a>
                <a href="" class="Sign Up"></a>
            </div>
        </header>
        <section class="mainsection">
            <div class="Image">
                <img src="..//image/unsplash_04X1Yp9hNH8.png" id="onMobile" alt="Landscape">
                <!-- <img src="..//image/unsplash_04X1Yp9hNH8.png" id="onDesktop" alt="Landscape"> -->

            </div>
            <div class="textcontent">
                <h1>Create your Business and produce Smart Business Plans that win</h1>
                <p>An easy way for individuals, businesses to track their payments and avoid fund diversion</p>
                <a href="#" class="cta">Get Started</a>
            </div>

        </section>

        <footer>
            
            <div class="footer_content">
                <div class="content_1">
                    <div class="logo_sms">
                         <div class="logo">
                             <img src="../image/dplana_logo.svg" alt="">

                         </div>
                         <div class="linkedin">
                            <img src="../image/linkedin.svg" alt="">
                         </div>
                         <div class="twitter">
                            <img src="../image/twitter.svg" alt="">
                         </div>
                    </div>
                    <div class="address">
                        <p>
                            487 Dekunle Atoyebi, Gasline
                            Magboro
                        </p>
                        <p class="phone"><i class="fa-solid fa-phone"></i>08025071622</p>
                        <p class="email"><i class="fa-solid fa-envelope"></i>support@dollamama.io</p>
                    </div>
                </div>
                <div class="content_2">
                    <div class="how_it_works">
                         <div class="how_it_works_title">
                             <h3>How it works</h3>

                         </div>
                        
                         <div class="how_it_works_list">
                            <ul>
                                <li>take a tour</li>
                                <li>Pricing</li>
                                <li>FAQ’S</li>
                            </ul>
                         </div>
                    </div>
                    <div class="business">
                         <div class="business_title">
                             <h3>Business</h3>

                         </div>
                        
                         <div class="business_list">
                            <ul>
                                <li>Partnership</li>
                                <li>Investment</li>
                                <li>Franchise</li>
                            </ul>
                         </div>
                    </div>
                    <div class="Contact">
                         <div class="Contact_title">
                             <h3>Contact</h3>

                         </div>
                        
                         <div class="Contact_list">
                            <ul>
                                <li>About D'Planna</li>
                                <li>Blog</li>
                                <li>Support Centers</li>
                            </ul>
                         </div>
                    </div>
                    
                </div>

            </div>

        </footer>
    </div>
    
</body>
</html>