<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onboarding1</title>
    <link rel="stylesheet" href="../CSS/onboarding.css">
</head>
<body>
    <section>
        <div class="Image">
        </div>
        <div class="Textcon">
        <h1>bizplanna</h1>
        <p>Building Business, Building People</p>
        <button>Get Started</button>
        </div>
    </section>
    </body>
</body>
</html>